body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #111;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #222;
}

footer {
  text-align: center;
  background: #111;
  color: white;
  padding: 10px;
}
